<div class="min-h-screen flex items-center justify-center px-6 py-12  font-catalina">
  <div class="w-full max-w-md text-center">
    <h1 class="text-[2rem] leading-[3rem] mb-8 text-primary font-catalina">Log In</h1>

    {% form 'customer_login' %}
      {% if form.errors %}
        <div class="text-red-500 text-sm mb-4">
          {{ form.errors | default_errors }}
        </div>
      {% endif %}

      <input
        type="email"
        name="customer[email]"
        id="CustomerEmail"
        placeholder="E-mail"
        required
        autocomplete="email"
        autocorrect="off"
        autocapitalize="off"
        class="w-full bg-transparent border border-accent text-primary placeholder-accent hover:bg-secondary hover:placeholder-white px-4 py-3 mb-4 text-base"
      >

      <input
        type="password"
        name="customer[password]"
        id="CustomerPassword"
        placeholder="Password"
        required
        autocomplete="current-password"
        class="w-full bg-transparent border border-accent text-primary placeholder-accent hover:bg-secondary hover:placeholder-white px-4 py-3 mb-6 text-base"
      >

      <button
        type="submit"
        class="w-full text-2xl py-2 border border-primary text-primary bg-transparent hover:bg-secondary hover:text-white transition-all duration-300  "
      >
        Log In
      </button>
    {% endform %}

    <p class="mt-8 text-[1rem] text-primary font-figtree">
      Don’t have an account?
      <a href="{{ routes.account_register_url }}" class="text-primary text-[1rem] leading-[1.5px] font-semibold font-figtree">Create Now</a>
    </p>
  </div>
</div>

{% schema %}
{
  "name": "Login Section",
  "settings": [],
  "presets": [
    {
      "name": "Login Section"
    }
  ]
}
{% endschema %}
