<div class="min-h-screen flex items-center justify-center px-6 py-12 ">
  <div class="w-full md:max-w-lg text-center">
    <h1 class="text-[2rem] leading-[3rem] mb-1 text-primary font-catalina">Sign Up</h1>
    <p class="mb-8 text-primary text-base font-figtree">Please fill in the information below</p>

    {% form 'create_customer' %}
      {% if form.errors %}
        <div class="text-red-500 text-sm mb-4">
          {{ form.errors | default_errors }}
        </div>
      {% endif %}

      <input
        type="text"
        name="customer[first_name]"
        placeholder="First Name"
        required
        class="w-full bg-transparent border border-accent text-primary hover:text-white placeholder-accent hover:bg-secondary hover:placeholder-white px-4 py-3 mb-4 text-base"
      >

      <input
        type="text"
        name="customer[last_name]"
        placeholder="Last Name"
        required
        class="w-full bg-transparent border border-accent text-primary hover:text-white placeholder-accent hover:bg-secondary hover:placeholder-white px-4 py-3 mb-4 text-base"
      >

      <input
        type="email"
        name="customer[email]"
        placeholder="E-mail"
        required
        autocomplete="email"
        autocorrect="off"
        autocapitalize="off"
        class="w-full bg-transparent border border-accent text-primary hover:text-white placeholder-accent hover:bg-secondary hover:placeholder-white px-4 py-3 mb-4 text-base"
      >

      <input
        type="password"
        name="customer[password]"
        placeholder="Password"
        required
        autocomplete="new-password"
        class="w-full bg-transparent border border-accent text-primary hover:text-white placeholder-accent hover:bg-secondary hover:placeholder-white px-4 py-3 mb-6 text-base"
      >

      <button
        type="submit"
        class="w-full text-2xl py-2 border border-accent text-primary placeholder-accent hover:bg-secondary hover:placeholder-white hover:text-white hover:border-0 transition-all duration-300 "
      >
        Sign Up
      </button>
    {% endform %}

    <p class="mt-8 text-[1rem] text-primary font-figtree">
      Already have an account?
      <a href="{{ routes.account_login_url }}" class="text-primary text-[1rem] leading-[1.5px] font-semibold font-figtree">Log in</a>
    </p>
  </div>
</div>

{% schema %}
{
  "name": "Sign Up Section",
  "settings": [],
  "presets": [
    {
      "name": "Sign Up Section"
    }
  ]
}
{% endschema %}
