<section class="py-24 bg-white px-16 md:pl-[154px] md:pr-[139px] lg:px-24">
  <div class="">
    
    <div class="flex justify-between items-center mb-12">
      <h2 class="text-[48px] leading-[64px] font-catalina text-primary">
        {{ section.settings.heading }}
      </h2>

      <nav class="space-x-6 text-primary text-[20px] leading-[32px]">
        {% for block in section.blocks %}
          {% if block.type == 'category_link' %}
            <a href="{{ block.settings.link }}" class="hover:text-gray-900">{{ block.settings.label }}</a>
          {% endif %}
        {% endfor %}
      </nav>
    </div>

{%- assign count = 0 -%}
<div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-6 ">


  {%- if section.settings.collection != blank -%}
    {%- assign products = collections[section.settings.collection].products -%}
    {%- for product in products -%}
      {%- assign count = count | plus: 1 -%}
      {%- if count <= 6 -%}
        <div>
          {% render 'product-cards', product: product %}
        </div>
      {%- elsif count <= 8 -%}
        <div class="hidden lg:block">
          {% render 'product-cards', product: product %}
        </div>
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}

  {%- if section.settings.product_list != blank -%}
    {%- for product in section.settings.product_list -%}
      {%- assign count = count | plus: 1 -%}
      {%- if count <= 6 -%}
        <div>
          {% render 'product-cards', product: product %}
        </div>
      {%- elsif count <= 8 -%}
        <div class="hidden lg:block">
          {% render 'product-cards', product: product %}
        </div>
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}

  {%- for block in section.blocks -%}
    {%- if block.type == 'manual_product' and block.settings.product != blank -%}
      {%- assign manual_product = all_products[block.settings.product] -%}
      {%- if manual_product != blank -%}
        {%- assign count = count | plus: 1 -%}
        {%- if count <= 6 -%}
          <div>
            {% render 'product-cards', product: manual_product %}
          </div>
        {%- elsif count <= 8 -%}
          <div class="hidden lg:block">
            {% render 'product-cards', product: manual_product %}
          </div>
        {%- endif -%}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}

</div>



  </div>
</section>


{% schema %}
{
  "name": "Home New Arrivals",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "default": "Our New Arrivals"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Product Collection (optional)"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Manual Products (optional)",
      "limit": 10
    }
  ],
  "blocks": [
    {
      "type": "category_link",
      "name": "Category Link",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Link Label",
          "default": "Man"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link URL"
        }
      ]
    },
   
  ]
}


{% endschema %}
