<!-- wrapper div already has overflow-hidden -->
<div class="py-4 px-2 mb-12 md:mb-16 lg:mb-24 bg-secondary overflow-hidden">
  <div class="information-bar flex whitespace-nowrap items-center">
    {% for block in section.blocks %}
      <div class="inline-flex items-center" {{ block.shopify_attributes }}>
        <span class="text-white text-[1rem] md:text-2xl lg:text-[2rem] font-normal font-catalina leading-[1.2] md:leading-[3rem] whitespace-nowrap">
          {{ block.settings.text }}
        </span>

        {% if forloop.index != section.blocks.size %}
          <!-- 32px left + right margin -->
          <span class="w-10 md:w-20 border border-white shrink-0 mx-8"></span>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>



<script src="{{ 'slider.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Home Information Bar",
  "max_blocks": 6,
  "blocks": [
    {
      "type": "item",
      "name": "Information Item",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Easy Returns"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home Information Bar",
      "category": "Promotional",
      "blocks": [
        {
          "type": "item",
          "settings": {
            "text": "Easy Returns"
          }
        },
        {
          "type": "item",
          "settings": {
            "text": "Worldwide Shipping"
          }
        },
        {
          "type": "item",
          "settings": {
            "text": "Buy Now, Pay Later"
          }
        },
        {
          "type": "item",
          "settings": {
            "text": "Online 7/12 supports"
          }
        }
      ]
    }
  ]
}
{% endschema %}